@import url("reset.css");
.title{
    color: blue;
}
.big-title{
    color: rgb(233, 20, 30);
}
p{
    color: rgb(115, 255, 0);
}
.main-text.text{
    color:red;
}
.text2{
    color: yellowgreen;
}
.item{
    color: blue;
}
.item1{
    color: yellow;
}
.title{
    color: rgb(88, 5, 5);
}
#startbuilding{
    color: brown;
}
#moldovatime{
    color: darkgreen;
}
.text3{
    color: darkmagenta;
}
#wall{
    color: chartreuse;
}
.text4{
    color: fuchsia;
}
.text4.text{
    color: darkorange;
}
#osmantime{
    color: darkviolet;
}
.text5.text{
    color: chartreuse;
}
.text5{
    color: rgb(68, 204, 50);
}
#nexthistory{
    color: indianred;
}
.text6{
    color: darkblue;
}
.link{
    color: indigo;
}



