@import url("reset.css");
.title{
    color: blue;
}
.big-title{
    color: rgb(233, 20, 30);
}
.title2{
    color: green;
}
.main-text{
    color: blueviolet;
}
.main-text.text{
    color:red;
}
.text2{
    color: yellowgreen;
}
.item{
    color: blue;
}
.item1{
    color: yellow;
}
.title{
    color: black;
}
.title3{
    color: blue;
}
.text3{
    color: darkmagenta;
}
.title4{
    color: crimson;
}
.text4{
    color: fuchsia;
}
.text4.text{
    color: darkorange;
}
.title5{
    color: darkgreen;
}
.text5.text{
    color: chartreuse;
}
.text5{
    color: rgb(68, 204, 50);
}
.title6{
    color: darkred;
}
.text6{
    color: darkblue;
}
.link{
    color: indigo;
}

